.index1 {
  background-color: lightblue;

  width: 500px;
  height: 200px;

  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

.index2 {
  background-color: chocolate;
  height: 50px;
  width: 100px;
  padding-left: 400px;
}

.con {
 border-style: solid;
}

.con2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: aqua;
}

.con3 {
  display: flex;
}
